@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  border-radius: 10px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #d85c36;
}
::-webkit-scrollbar-track {
  background: #888;
}
body {
  background-color: rgb(24, 23, 23);
  overflow: hidden;
  color: rgb(229 231 235);
  font-family: "Montserrat", sans-serif;
  /* letter-spacing: 2px; */
  /* word-spacing: 2px; */
}
img {
  width: 45px;
}
main {
  height: 100vh;
  z-index: 100;
  position: fixed;
}

.tech-icon {
  height: 40px;
  pointer-events: none;
}

.ferris-wheel-techs {
  right: 50%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

.m-bar {
  width: 40px;
  height: 5px;
  z-index: 1000;
  background: rgb(216, 92, 54);
  border-radius: 6px;
}

@media only screen and (max-width: 1024px) {
  .m-bar {
    width: 30px;
    height: 4px;
  }
}

.logo-part {
  /* font-size: 1.5rem; */
  font-style: normal;
  font-weight: 150;
  color: gainsboro;
}

@media only screen and (max-width: 1024px) {
  .logo-part {
    font-size: 18px;
  }
}

.icon {
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}

.common-seciton {
  display: flex;
  position: relative;
  box-sizing: border-box;
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
  /* padding: 7.68px 153.6px; */
  width: 80%;
  margin: auto;
  /* align-items:flex-start; */
}

h1 {
  font-size: 3vw;
  font-weight: 600;
  color: rgb(227, 214, 190);
  animation: 1s ease 0.5s 1 normal forwards running animation-in-subTitle;
  text-align: left;
  text-transform: uppercase;
}
.blurb-wrapper {
  background-image: url("https://smcreative.studio/smteambg.png");
  object-fit: cover;
  transform-origin: center center 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 100%;
}
.blurb-logo {
  position: relative;
  background: inherit;
}

.blurb-logo::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("https://smcreative.studio/smteambg.png");
  object-fit: cover;
  transform-origin: center center 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(0, 0, 0);
  animation: 4s ease-in-out 1s infinite normal none running imageWaveDesktop;
}

@keyframes imageWaveDesktop {
  0% {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 10%;
    border-top-right-radius: 50%;
  }
  50% {
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 50%;
    border-top-right-radius: 10%;
  }
  100% {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 10%;
    border-top-right-radius: 50%;
  }
}

.animate-border {
  display: block;
  position: absolute;
  list-style: none;
}
.animate-border::after {
  top: 31.76px;
  right: -31px;
  width: 38.4px;
  height: 3.072px;
  content: "";
  position: absolute;
  transform: translateX(20%);
  background: rgb(11, 11, 11);
  transition: all 0.5s ease 0s;
}
.animate-border::before {
  top: -9.24px;
  right: -107px;
  width: 38.4px;
  height: 3.072px;
  content: "";
  position: absolute;
  background: rgb(11, 11, 11);
  transition: all 0.5s ease 0s;
}

.btn-1:hover .animate-border::before {
  transform: translateX(-80px);
}
.btn-1:hover .animate-border::after {
  transform: translateX(87px);
}

.animate-border-2 {
  display: block;
  position: absolute;
  list-style: none;
}
.animate-border-2::after {
  top: 31.76px;
  right: -16px;
  width: 38.4px;
  height: 3.072px;
  content: "";
  position: absolute;
  transform: translateX(20%);
  background: rgb(11, 11, 11);
  transition: all 0.5s ease 0s;
}
.animate-border-2::before {
  top: -9.24px;
  right: -95px;
  width: 38.4px;
  height: 3.072px;
  content: "";
  position: absolute;
  background: rgb(11, 11, 11);
  transition: all 0.5s ease 0s;
}

.btn-2:hover .animate-border-2::before {
  transform: translateX(-80px);
}
.btn-2:hover .animate-border-2::after {
  transform: translateX(87px);
}

@media all and (max-width: 767px) {
  .animate-border-2::before {
    top: -9.24px;
    right: -72px;
    width: 38.4px;
    height: 3.072px;
  }
  .animate-border-2::after {
    top: 22.76px;
    width: 38.4px;
    height: 3.072px;
  }
  .btn-2:hover .animate-border-2::before {
    transform: translateX(-50px);
  }
  .btn-2:hover .animate-border-2::after {
    transform: translateX(55px);
  }

  .animate-border::after {
    top: 22.76px;
  }
  .animate-border::before {
    right: -86px;
  }

  .btn-1:hover .animate-border::before {
    transform: translateX(-50px);
  }
  .btn-1:hover .animate-border::after {
    transform: translateX(55px);
  }
}

.box {
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid rgb(216, 92, 54);
  position: relative;
  z-index: -3;
}
.box::after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  border: 2px solid rgb(216, 92, 54);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* @media screen and (max-width:500px) {
  .box {
    display: none;
  }
} */

.contact-title {
  position: relative;
}
.contact-title::before {
  content: "";
  /* width: 20vmin; */
  height: 1px;
  background-color: rgb(216, 92, 54);
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
  max-width: 95px;
  width: 50px;
}
.contact-title::after {
  content: "";
  /* width: 20vmin; */
  margin: 0 12px;
  height: 1px;
  background-color: rgb(216, 92, 54);
  display: inline-block;
  vertical-align: middle;
  max-width: 95px;
  width: 50px;
}

.-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.-icon > svg {
  width: 32px;
  height: 22px;
}

.menu {
  animation: 0.9s ease 0s 1 normal forwards running menu-animate;
  transform: rotate(41deg) translateY(-10.1952px);
  border-radius: 50%;
  background-color: rgb(254, 153, 74);
  top: -40px;
  left: -65px;
  /* z-index: 100; */
}

.general-details-wrapper {
  display: grid;
  place-items: center;
  gap: 16px 8px;
  grid-template-columns: 1fr;
}

.service.general-details-wrapper {
  display: grid;
  place-items: center;
  gap: 16px 8px;
  grid-template-columns: 1fr;
}
.service__detail {
  height: 200px !important;
}

@media screen and (min-width: 420px) {
  .general-details-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .general-details {
    height: 120px !important;
  }
  .service.general-details-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .service__detail {
    height: 190px !important;
  }
}

@media screen and (min-width: 600px) {
  .general-details-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
  }
  .general-details {
    max-width: 280px !important;
    height: 135px !important;
  }
  .service.general-details-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .service__detail {
    height: 230px !important;
    max-width: 400px !important;
  }
}

.general-details {
  width: -webkit-fill-available;
  border: 1px solid rgba(165, 161, 161, 0.18);
  height: 110px;
  margin: 0px;
  display: flex;
  padding: 5px;
  background: rgba(100, 100, 100, 0.1);
  align-items: center;
  border-radius: 4.488px;
  flex-direction: column;
  text-transform: capitalize;
  backdrop-filter: blur(1px);
  justify-content: space-around;
  text-align: center;
  max-width: 215px;
}

@keyframes menu-animate {
  0% {
    transform: translateY(-20px);
    width: 10px;
    height: 10px;
  }
  100% {
    transform: translateY(-20px);
    width: 400px;
    height: 400px;
  }
}

.nav-menu-wrapper {
  border-radius: 100%;
  width: 300px;
  height: 300px;
  position: fixed;
  top: -65px;
  left: -40px;
  background-color: rgb(254, 153, 74);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  transition: all 0.9s;
  animation: 0.9s ease 0s 1 normal forwards running menu-animate;
}
.nav-menu-wrapper.hide {
  display: none;
}

.active {
  font-size: 18px;
  color: rgb(235, 227, 213);
}
.line:nth-child(1) {
  animation: 0.8s ease-in-out 0s 1 normal forwards running firstChildRotateLg;
}
.line:nth-child(2) {
  animation: 0.8s ease 0s 1 normal forwards running secondChild;
}
.line:nth-child(3) {
  animation: 0.8s ease-in-out 0s 1 normal forwards running lastChildRotate;
}

@keyframes firstChildRotateLg {
  0% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(11px) rotate(45deg);
  }
}
@keyframes secondChild {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lastChildRotate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-4.3584px);
  }
  100% {
    transform: translateY(-4.3584px) rotate(-45deg);
  }
}

.about__para {
  text-align: justify;
  hyphens: auto;
  word-spacing: -0.05em;
  color: rgb(227, 214, 190);
  animation: 1s ease 0.5s 1 normal forwards running animation-in-desc-about;
  font-weight: 400;
  padding: 1.944px 5.0544px;
  margin-bottom: 0px;
  margin-top: 5.832px;
}

.about__services {
  color: #E3D6BE;
}